@use "variables" as *;

@mixin bold {
  font-weight: 500;
  color: $clr-primary;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-transform: capitalize;
  width: 120px;
  height: 177px;
  padding: 18px 22px;
  background: $bg-secondary;

  .when {
    @include bold();
  }

  img {
    width: 56.44px;
    height: 62px;
  }

  .tempertures {
    display: flex;
    justify-content: space-between;

    span:first-child {
      @include bold();
    }
  }
}

.highLight-card {
  display: grid;
  gap: 15px;
  text-align: center;
  padding: 22px 50px 38px;
  background: $bg-secondary;
  @include bold();

  .result {
    font-size: 36px;
    font-weight: 400;

    span:first-child {
      font-size: 64px;
      font-weight: 700;
    }
  }

  .process-bar {
    --width: 0;

    position: relative;
    width: 100%;
    height: 8px;
    margin-top: 28px;
    border-radius: 100vh;
    background-color: $clr-primary;

    &::after {
      position: absolute;
      inset: 0;
      content: "";
      width: var(--width);
      border-radius: 100vh;
      background-color: #ffec65;
    }

    span {
      position: absolute;
      bottom: calc(100% + 5px);
      font-size: 12px;
      color: $clr-secondary;

      &:nth-child(1) {
        left: 0;
      }

      &:nth-child(2) {
        right: 50%;
        transform: translateX(50%);
      }

      &:nth-child(3) {
        right: 0;
      }

      &:nth-child(4) {
        top: calc(100% + 5px);
        right: 0;
        bottom: 0;
      }
    }
  }

  .wind-direction {
    --direction: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 10px;
    margin-top: 18px;

    .material-icons {
      font-size: 2.5rem;
      rotate: calc(var(--direction) - 90deg);
    }
  }
}
