@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: $clr-primary;
  background-color: $bg-primary;
  min-height: 100vh;
}
