@use "variables" as *;
@forward "leftSide";
@forward "rightSide";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: $clr-secondary;
  background-color: $bg-primary;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  @media (min-width: $big-device) {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-secondary;
}
