@use "variables" as *;

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  transition: width 0.5s ease;
  background: $lg-left-bg,
    url(../../public/images/Cloud-background.png) no-repeat;
  background-position: 0, center 20%;
  background-size: 150%, 150%;

  .button-section {
    position: absolute;
  }

  .weather-icon {
    width: 150px;
    height: 174px;
    margin-top: 2rem;
  }

  .temperture {
    font-size: 144px;
    color: $clr-primary;

    span {
      font-size: 48px;
      font-weight: 300;
      color: $clr-secondary;
    }
  }

  .status {
    font-weight: 600;
    font-size: 36px;
    margin: 1rem 0;
  }

  .date {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .location {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin: 1rem 0 2rem;
  }

  @media (min-width: 678px) {
    min-width: 450px;
    width: 40vw;
    max-width: 500px;
  }
}
