@use "variables" as *;
@forward "cards";

.right {
  width: 100%;
  height: 100vh;
  padding-top: 3rem;

  .temperture-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 90%;
    margin-inline: auto;

    button {
      font-family: inherit;
      font-size: 18px;
      font-weight: 700;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 100vh;
      color: $clr-primary;
      background-color: $bg-accent;

      &.active {
        color: $bg-secondary;
        background-color: $clr-primary;
      }
    }
  }

  .weather-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    gap: 26px;
    max-width: 818px;
    margin-inline: auto;
    padding: 52px 54px;
  }

  .highlights-section {
    display: grid;
    gap: 32px;
    width: 90%;
    max-width: 1170px;
    padding-bottom: 3rem;
    margin-inline: auto;
  }

  .create-by {
    text-align: center;
    padding-bottom: 1rem;

    a {
      font-weight: bold;
      color: inherit;
    }
  }

  @media (min-width: $big-device) {
    overflow-y: auto;

    .temperture-btns {
      max-width: 704px;
    }

    .highlights-section {
      grid-template-columns: repeat(2, 1fr);
      place-content: center;
      gap: 48px;
      max-width: 704px;

      h1 {
        grid-column: span 2;
      }
    }

    .create-by {
      padding: 0;
    }
  }
}
