$clr-primary: hsla(240, 9%, 91%, 1);
$clr-secondary: hsla(243, 10%, 66%, 1);
$clr-accent: hsla(245, 11%, 57%, 1);

$bg-primary: hsla(248, 35%, 8%, 1);
$bg-secondary: hsla(234, 32%, 17%, 1);
$bg-accent: hsla(230, 5%, 45%, 1);
$bg-btn: hsla(236, 80%, 57%, 1);
